body{
   position: relative;
   display: block;
   margin: auto;
   margin-top: 50px;
   background-color: rgb(228, 163, 163);
}

#current-time{
    display: flex;
    padding:10px;
    margin: auto;
    width: 50%;
    font-size: 8ch;
    justify-content: center;
    background-color: white;

    border-radius:20px 20px 0px 0px;
}

#current-time div{
    display: flex;
    padding:10px;
    text-align: center;
    justify-content: center;
}

#current-time span{
    margin: 0px;
    padding-top: 10px;

}
#alarm-setter{
    background-color: rgb(252, 252, 252);

    width: fit-content;
    display: flex;
    padding: 20px;
    margin: auto;
    width: 50%;
    text-align: center;
    justify-content: center;
    border-radius:0px 0px 20px 20px;
}
#add-alarm{
    width: 20%;
   
    
}

#alarm-setter input{
    width: 15%;
    margin-bottom: 10px;
    margin-right: 10px;
}

#inputform{
    display: block;
    align-content: space-around;
    justify-content: space-between;
    padding: 10px;
}

#inputform #submitBtn{
   width: max-content;
   background-color: beige;
   border: 1px solid black;
}




#alarm-list{
    position: relative;
    border: 1px solid black;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
}


#alarm-list ul{
    border: 1px solid black;
    list-style-type:none;
    margin-top: 2rem;
}


#alarm-list li{
    text-align: center;
    font-size: large;
    margin-top: 1rem;

}

#alarm-list button{
    color: white;
    background-color: red;
    margin-left: 5em;
    margin-top: 2;
}

#alarms-heading{
    font-size: 5ch; 
    text-align: center;
}


@media screen and (max-width: 480px) {
    body {
      background-color: lightgreen;
    }
    #current-time{
        display: flex;
        padding:10px;
        margin: auto;
        width: 90%;
        font-size: 5ch;
        justify-content: center;
        background-color: white;
        border-radius:20px 20px 0px 0px;
    }

    #current-time div{
        display: flex;
        padding:4px;
        text-align: center;
        justify-content: center;
    }
    
    #current-time span{
        margin: 0px;
        padding-top: 10px;
    
    }
    
    #alarm-setter{
        background-color: rgb(252, 252, 252);
   
        width: fit-content;
        display: flex;
        padding: 20px;
        margin: auto;
        width: 90%;
        text-align: center;
        justify-content: center;
        border-radius:0px 0px 20px 20px;
    }
    #add-alarm{
        width: 20%;
        background-color: beige;
        border: 1px solid black;
        
    }
    
    #alarm-setter input{
        width: 15%;
        margin-bottom: 10px;
        margin-right: 10px;
    }



    #inputform{
        display: block;
        align-content: space-around;
        justify-content: space-between;
        padding: 10px;
    }

    #inputform #submitBtn{
       width: max-content;
       background-color: beige;
       border: 1px solid black;
    }

    #alarm-list{
    
        border: 1px solid black;
        display: flex;
        margin: auto;
        text-align: center;
        justify-content: center;
    }
    
    
    #alarm-list ul{
        border: 1px solid black;
        list-style-type:none;
        margin: 2rem;
    }
    
    
    #alarm-list li{
        text-align: center;
        font-size: large;
        margin-top: 1rem;
    
    }
    
    #alarm-list button{
        color: white;
        background-color: red;
        margin-left: 1em;
        margin-top: 2;
    }
    
    #alarms-heading{
        font-size: 5ch; 
        text-align: center;
    }

    #list{
        background-color: white;
    }


    

  }

